<%- include('partials/head', title) %>
<%- include('partials/header', title) %>
<main>
  <section>
    <article>
      <h1><%= title %></h1>
      <p>Boas vindas ao <%= title %></p>
    </article>
  </section>
</main>
<%- include('partials/footer', title) %>